a {
	color: inherit;
	text-decoration: none;
}

.topbar {
	background: #111;
	color: #fff;
	
	h1 {
		font-weight: bold;
	}
	
	h2 {
		color: #777;
		margin-left: 15px;
	}
	
	.right a {
		margin-left: 30px;
	}
}

#yield {
	padding: 50px 0px;
}

.container {
	width: 96%;
	max-width: 980px;
	margin: 0 auto;
	padding: 2%;
}

h1, h2 {
	display: inline-block;
}

h2 {
	color: #aaa;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

input.button {
	background: green;
}

.button {
	background: #777;
	color: #ddd;
	padding: 8px 13px;
	display: inline-block;
	border: 0;
	cursor: pointer;
	
	&.pass {
		background: green;
	}
	
	&.fail {
		background: red;
	}
}

.spacer {
	display: block;
	width: 100%;
	height: 20px;
}